@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

$black-color: #0b0d17;
$color-2: #d0d6f9;
$white-color: #ffffff;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend .body-text;
}

.heading {
  font-family: 'Bellefair', serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 150px;
  line-height: 172px;
}

.heading-2 {
  font-size: 100px;
  line-height: 115px;
}

.heading-3 {
  font-size: 56px;
  line-height: 64px;
}

.heading-4 {
  font-size: 32px;
  line-height: 37px;
}

.heading-5 {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.subheading-1 {
  font-size: 28px;
  line-height: 32px;
}

.subheading-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
}

.nav-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.number-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  opacity: 0.25;
}

.body-text {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
