@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.heading, .heading-1, .heading-2, .heading-3, .heading-4, .subheading-1 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 150px;
  line-height: 172px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
}

.heading-3 {
  font-size: 56px;
  line-height: 64px;
}

.heading-4 {
  font-size: 32px;
  line-height: 37px;
}

.heading-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
}

.subheading-1 {
  font-size: 28px;
  line-height: 32px;
}

.subheading-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
}

.nav-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #ffffff;
  text-transform: uppercase;
}

.number-text {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  color: #ffffff;
  opacity: 0.25;
}

.body-text, body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.navigation {
  max-width: 1440px;
  margin: 0 auto;
  height: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1440px) {
  .navigation {
    margin-left: 55px;
  }
}

.navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  padding: 0 165px 0 123px;
  position: relative;
}

.navigation-item::before {
  display: block;
  position: absolute;
  content: '';
  z-index: 99;
  bottom: 46px;
  left: -22em;
  background: #ffffff;
  height: 1px;
  width: 50%;
  opacity: 0.25;
}

.navigation-item a {
  text-decoration: none;
  margin-right: 48px;
  position: relative;
  padding: 38px 0 38px 0;
}

.navigation-item a span {
  margin-right: 12px;
  font-weight: 700;
}

.active::before, .hover:hover::before {
  display: block;
  position: absolute;
  content: '';
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  height: 3px;
  width: 100%;
}

.hover:hover::before {
  opacity: 0.5;
}

.home {
  background: url("../assets/home/background-home-desktop.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.home-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 25rem 165px 131px 165px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-container_travel {
  width: 450px;
}

.home-container_travel-heading {
  margin: 24px 0;
}

.home-container_explore {
  width: 274px;
  height: 274px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  color: #0b0d17;
  border-radius: 50%;
  text-decoration: none;
}

.destination {
  background: url("../assets/destination/background-destination-desktop.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
}

.destination-container {
  padding: 76px 76px 76px 166px;
  color: white;
}

.destination-container_prompt {
  margin-bottom: 64px;
}

.destination-container_prompt span {
  font-weight: 700;
  opacity: 0.25;
  margin-right: 28px;
}

.destination-container_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destination-container_body-details {
  width: 445px;
  margin-left: 8rem;
}

.destination-container_body-details .details-nav {
  margin-bottom: 37px;
}

.destination-container_body-details .details-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destination-container_body-details .details-nav ul a {
  text-decoration: none;
  margin-right: 36px;
  position: relative;
}

.destination-container_body-details .planet-name {
  margin-bottom: 14px;
}

.destination-container_body-details .planet-desc {
  margin-bottom: 54px;
}

.destination-container_body-details .planet_line {
  margin-top: 54px;
  margin-bottom: 28px;
  width: 100%;
  height: 1px;
  background: #383B4B;
}

.destination-container_body-details .planet-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.destination-container_body-details .planet-information .mr-68 {
  margin-right: 68px;
}

.destination-container_body-details .planet-information .info-heading {
  margin-bottom: 12px;
}

.activeLink::before, .hoverLink:hover::before {
  display: block;
  position: absolute;
  content: '';
  z-index: 99;
  bottom: -12px;
  left: 0;
  right: 0;
  background: #ffffff;
  height: 3px;
  width: 100%;
}

.hoverLink:hover::before {
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */